@page "/blackjack"
@using Games.Components
@implements IDisposable

<PageTitle>Blackjack</PageTitle>

<MudText Align="Align.Center" Typo="Typo.h5">@_blackjackGame.Name</MudText>

@if (!gameStart)
{
    <MudGrid Justify="Justify.Center">
        <MudItem><MudText Style="margin: 20px" Typo="Typo.subtitle1">@_blackjackGame.Description</MudText></MudItem>
        <MudItem xs="12"><MudDivider DividerType="DividerType.Middle" /></MudItem>
        <MudItem>
            <MudButton Class="start-button" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" Style="margin: 20px" OnClick="StartGame">Start Game</MudButton>
        </MudItem>
    </MudGrid>
}
else
{
    <div class="blackjack-board">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12"><MudSpacer /></MudItem>
                @if (!playerStay)
                {
                    <MudItem Style="padding: 0px">
                        <CardComponent _card="@_blackjackGame.DealerHand[1]" />
                    </MudItem>
                    <MudItem Style="padding: 0px">
                        <CardComponent _card="Deck.CardBack" />
                    </MudItem>
                }
                else
                {
                    @foreach (Card card in _blackjackGame.DealerHand)
                    {
                    <MudItem Style="padding: 0px">
                            <CardComponent _card="card" />
                        </MudItem>
                    }
                }
                @if (gameOver)
                {
                    <MudItem Style="display: flex; flex-direction: column; justify-content: center">
                            <MudChip Color="Color.Dark">Score: @_blackjackGame.GetScore("Dealer")</MudChip>
                    </MudItem>
                }
            <MudItem xs="12"><MudSpacer /></MudItem>
            <MudItem>
                @if (gameOver)
                {
                    <MudPaper Elevation="50" Style="background-color: #424242ff; border-radius: 16px">
                        <MudText Typo="Typo.h5" Style="color: white; padding: 8px">@winner</MudText>
                    </MudPaper>
                }
                else
                {
                    <CardComponent _card="@Deck.CardBack" />
                }
            </MudItem>
            <MudItem xs="12"><MudSpacer /></MudItem>
            <MudItem>
                @foreach (Card card in _blackjackGame.PlayerHand)
                {
                    <CardComponent _card="card" />
                }
            </MudItem>
            <MudItem>
                <MudGrid Justify="Justify.Center">
                    <MudItem><MudChip Color="Color.Dark">Score: @_blackjackGame.GetScore("Player")</MudChip></MudItem>
                    <MudItem xs="12"><MudSpacer /></MudItem>
                    @if (!gameOver)
                    {
                        <MudItem>
                            <MudButton Class="hit-button" Variant="Variant.Filled"
                                       Size="Size.Small" Color="Color.Primary"
                                       Style="margin: 10px" OnClick="PlayerHit">
                                Hit
                            </MudButton>
                        </MudItem>
                        <MudItem>
                            <MudButton Class="stay-button" Variant="Variant.Filled"
                                       Size="Size.Small" Color="Color.Primary"
                                       Style="margin: 10px" OnClick="PlayerStay">
                                Stay
                            </MudButton>
                        </MudItem>
                    }
                    else
                    {
                        <MudItem Style="margin-top: -32px">
                            <MudButton Variant="Variant.Filled" Size="Size.Large"
                               Color="Color.Primary" Style="margin: 20px"
                               OnClick="NewGame">
                                New Game
                            </MudButton>
                        </MudItem>
                    }
                    
                </MudGrid>
            </MudItem>
        </MudGrid>
    </div>
}